body {
  font-family: 'Arima Madurai', cursive;
}

header {
    background: #fff;
}

.main-logo {
    text-align: center;
    padding-top: 20px;
}

.main-logo img {
    width: 60px;
    height: 60px;
}

.header-menu {
  margin-top: 10px;
  text-align: center;
}

.navbar-default {
  background: none;
  border-color: #fff;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    color: #707070;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #cba46d;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu>li>a {
    font-size: 16px;
    padding: 5px 20px;
}

.dropdown-menu>li>a:hover {
    background: none;
    color: #cba46d;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar .navbar-collapse {
    margin-bottom: -10px;
}

.first-item {
    height: 400px;
}

.second-item {
    height: 225px;
}

.three-item {
    height: 225px;
}

.four-item {
    height: 400px;
}

.five-item {
    height: 400px;
}

.six-item {
    height: 400px;
}

.cross-item {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cross-item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.background-position {
    display: none;
    width: 100%;
    height: 100%;
    background: url('../images/background.png');
    position: absolute;
    top: 0;
}

.croos-slider {
    margin-top: 140px;
}

.title-primary {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}

.cross-item:hover .background-position {
    display: block;
    position: absolute;
    top: 0;
}

.cross-item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-text {
    position: absolute;
    text-align: center;
    bottom: 0;
    top: 70%;
    left: 30px;
}

.title-product {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-seemore {
    position: absolute;
    left: 0;
}

.footer-container {
    margin-top: 20px;
}

.contact-info-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-info-text {
    margin-top: 10px;
}

.contact-info-address {
    padding-top: 20px;
}

.contact-info-address i {
    font-size: 18px;
    text-align: center;
    width: 25px;
}

.cross-contact-form {
    padding-top: 20px;
}

.cross-contact-form input{
    border: 0;
    border-bottom: 1px solid #555;
    box-shadow: none;
    border-radius: 0;
}

.cross-contact-form textarea{
    border: 0;
    border-bottom: 1px solid #555;
    box-shadow: none;
    border-radius: 0;
}

.cross-contact-form button{
    border: 0;
    border-bottom: 1px solid #555;
    box-shadow: none;
    border-radius: 0;
}

footer {
    padding-bottom: 20px;
}

/*=====Categories Product===*/
.cross-banner {
    height: 300px;
}

.cross-banner img {
    height: 100%;
    width: 100%;
}

.cross-cat-product {
    height: 350px;
}

.cross-reference {
    padding: 10px;
    background: #f4f4f4;
    box-shadow: 2px 2px 2px 2px #828282;
    -moz-box-shadow:  2px 2px 2px 2px #828282;
    -webkit-box-shadow:  2px 2px 2px 2px #828282;
}

.cross-reference img {
    width: 100%;
    height: 150px;
}

.cross-reference-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

.cross-reference-list ul {
    list-style-type: none;
}

.cross-reference-list ul>li {
    padding-top: 10px;
}

.cross-reference-list ul>li>a i {
    padding-right: 10px;
}

.cross-reference-list ul>li>a {
    color: #138B91;
    font-size: 16px;
}

.cross-reference-page {
    margin-top: 20px;
}

.cross-paddingtop {
    margin-top: 30px;
}

.cross-homstay {
    height: 500px;
    padding: 10px;
    border: 1px solid #f4f4f4;
}

.cross-homstay img {
    height: 250px;
    width: 100%;
}

.room-name {
    margin-top: 20px;
}

.room-name a{
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
    margin-top: 20px;
}

.room-info {
    margin-top: 20px;
}

.room-title {
    font-size: 18px;
    text-transform: uppercase;
}

.booking-btn {
    height: 50px;
    background: #138B91;
    text-align: center;
    color: #fff;
    width: 100%;
    cursor: pointer;
    padding-top: 10px;
}

.booking-btn a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.image-room {
    margin-top: 20px;
}

.image-room-item {
    margin-bottom: 20px;
}

.image-room-item img {
    width: 100%;
    height: 100%;
}